img{
    width: 250px;
    border-radius: 10px;
}
.circle-cat-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    object-position: center;
    margin-left: 10px;
}
.square-cat-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-left: 10px;
}