.ThreeD-button{
    padding: 7px;
    color: rgba(255, 255, 255, 0.822);
    font-weight: bold;
    background-color: blueviolet;
    border : 1px solid black;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.ThreeD-button:active{
    box-shadow: none;
    margin-left: 3px;
    margin-top: 3px;
}