@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

body {
  background-color: white;
}
form {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 40vh;
  gap: 20px;
  margin: 30px 20px 30px 20px;
  padding: 0px 20px 30px 20px;
  border: 1px solid #7a7a7a;
  border-radius: 2px;
  box-shadow: -2px -2px 11px 8px rgba(242, 242, 242, 1);
}
form p {
  position: absolute;
  font-size: 12px;
  top: -34px;
  left: -1px;
  background-color: #f8f8f8;
  border: 1px solid #7a7a7a;
  padding: 8px 10px;
  width: 30%;
  font-weight: bold;
  border-radius: 4px;
}
form .container {
  font-size: 11px;
  font-weight: bold;
  margin-top: 20px;
}
form .container {
  position: relative;
  margin: 0px;
}
form .container i {
  position: absolute;
  top: 5px;
  left: 58px;
  font-size: 10px;
  flex-grow: 2;
}
form .first {
  margin-top: 20px;
}
form button {
  background-color: #2d2d2d;
  color: white;
  border: none;
  padding: 4px 12px;
  font-size: 8px;
  font-weight: bold;
  border-radius: 3px;
  flex-grow: 1;
}
/* phone */
