body{
    width: 75vw;
}
header {
  display: flex;
  border-bottom: 2px solid rgb(0,0,0);
  justify-content: space-between;
}
header .title{
    font-size: 32px;
    text-transform: uppercase;
}
header nav ul{
    display: flex;
}
header nav ul li{
    margin-left: 10px;
    list-style: none;
}
header nav ul li a{
    color: rgb(0, 153, 0);
    text-decoration: none;
}
main article p{
    line-height: 1.4;
}
main article h1{
    font-weight: 600;
    font-size: 20px;
}
