html{
    font-family: Helvetica,sans-serif;
}
header h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
}
header nav{
    display: inline-block;
    margin-left: 50px;
}
header nav ul li{
    display: inline-block;
    margin-left: 10px;
    color:#03C03C;
}
main p{
    line-height: 1.5;
}
main h2{
    font-weight: 450;
}